.wrapper {
  height: 18%;
  cursor: pointer;
  position: relative;
}

.inner-wrapper {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 4rem;
  /* width: 4rem; */
}

.day {
  height: 100%;
}

.night {
  height: 100%;
  position: absolute;
  left: 0%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.night-appear {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.toggle {
  height: 100%;
  position: absolute;
  left: 0%;
  transition: all 1s ease-in-out;
}

.toggle-right {
  left: auto;
  left: 65%;
  transition: all 1s ease-in-out;
}

.sun {
  opacity: 0;
  width: 30px;
  height: 30px;
}

/* @media screen and (orientation: portrait) {
  .wrapper {
    height: 4%;
  }
} */
